<h2>All users and todos</h2>

<nav>
  <a href="/user_signup">User Signup</a>
  <a href="/remove_user">Remove User</a>
  <a href="/add_todo">Add Todo</a>
  <a href="/edit_todo">Edit Todo</a>
</nav>

<div class="user-container">
  {{#each users}}

    <section class="user-card">
      <h2>{{this.user}}'s todos</h2>
      <p>Email: {{this.email}}</p>
      <p>Todo list</p>
      <ul>
        {{#unless this.todos.length}}
          <a href="/add_todo">Start adding todos...</a>
        {{/unless}}
        {{#each this.todos}}
          <li class="{{ternary this.is_complete 'is-complete' ''}}">{{this.content}}</li>
          <a href="/edit_todo?id={{this.id}}">Edit</a>
        {{/each}}
      </ul>
    </section>
  {{/each}}
</div>