<h3>Aggregates</h3>
<p>total_users: {{totalUsers}}</p>
<p>total_todos: {{totalTodos}}</p>
<p>todos_per_user: {{todosPerUser}}</p>
<p>todos_per_priority: {{todosPerPriority}}</p>
<p>max_todos: {{maxTodos}}</p>
<p>email_of_max_todos: {{emailOfMaxTodos}}</p>
<p>min_todos: {{minTodos}}</p>
<p>email_of_min_todos: {{emailOfMinTodos}}</p>